<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Farmacia Quekiwi</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <a th:href="@{/nosotros}">Nosotros</a>
    <a th:href="@{/marcas}">Marcas</a>

    <h1>Registrar marca</h1>
    <form th:action="@{/marcas}" th:object="${marca}" method="post">
    	<p>Nombre: <input type="text" th:field="*{nombre}"/></p>
        <p>Descripcion: <input type="text" th:field="*{descripcion}"/></p>
        <button>Registrar</button>
    </form>
</body>
</html>