<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Farmacia Quekiwi</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <a th:href="@{/nosotros}">Nosotros</a>
    <a th:href="@{/marcas}">Marcas</a>

    <h1>Marcas con las que trabajamos</h1>
    <p>Trabajamos con las mejores marcas, marcas que les son <strong>familiares y confiables</strong></p>


    <a th:href="@{/marcas/create}">Registrar marca</a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="marca: ${marcas}">
                <td th:text="${marca.id}"></td>
                <td th:text="${marca.nombre}"></td>
                <td>
                    <a th:href="@{/marcas/{id}(id=${marca.id})}">Ver</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>